@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d6d58ec5;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgb(4, 40, 62, 0.4);
    border-radius: 10px;
}

h1 {
    color: #005C53;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0,0.7);
}

h2 {
    color: #9FC131;
}

p {
    text-align: justify;
}
