@font-face {
    font-family: 'PassionOne';
    src: url(fontes/PassionOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PassionOne';
    src: url(fontes/PassionOne-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PassionOne';
    src: url(fontes/PassionOne-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf);
    font-weight: normal;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-padrao: 'Sriracha', Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'PassionOne', cursive;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    font-weight: bold;    
    font-size: 10vw;
    padding-top: 50px;
}

header h2 {
    color: white;
    font-family: var(--fonte1);
    font-weight: 100;
    font-size: 1.1em;
    padding-bottom: 50px;
}

section {
    padding-left: 30px;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

section p{
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 2em;
    padding-bottom: 2em;
}

section.imagem {
    box-shadow: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.473);
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 5px;
}

#section2 {
    background: gray url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

#section4 {
    background: gray url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: black;
    text-align: center;
}

footer strong {
    font-weight: bold;
}

footer p{
    color: white;
    font-family: var(--fonte1);
    font-weight: normal;  
    font-size: 1.1em;
    padding: 10px;
}